<div class="button-container">
  <button pButton pRipple type="button" label="New Employee" icon="pi pi-plus" class="p-button-secondary"
    (click)="showBasicDialog()"></button>
</div>

<p-dialog [(visible)]="displayBasic" [style]="{width: '60vw'}" [baseZIndex]="10000">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center">Create New Employee</h2>
    <div class="form-container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" formControlName="firstName" class="form-control" />
            <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="error">
              *First Name is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" formControlName="lastName" class="form-control" />
            <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="error">
              *Last Name is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input id="dob" type="date" formControlName="dob" class="form-control" />
            <div *ngIf="f['dob'].touched && f['dob'].invalid" class="error">
              *Date Of Birth is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" class="form-control" />
            <div *ngIf="f['email'].touched && f['email'].invalid" class="error">
              *Valid Email is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" class="form-control" />
            <div *ngIf="f['password'].touched && f['password'].invalid" class="error">
              *Password is required and should be at least 6 characters
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="role">Role</label><br>
            <p-dropdown [options]="Roles" [(ngModel)]="selectedCity" placeholder="Select Role" optionLabel="name" [showClear]="true" formControlName="role"></p-dropdown>
            <div *ngIf="f['role'].touched && f['role'].invalid" class="error">
              *Role is required
            </div>
            
            <!-- <select id="role" formControlName="role" class="form-control">
              <option>Employee</option>
              <option>Manager</option>
              <option>Admin</option>
            </select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" type="text" formControlName="phoneNumber" class="form-control" />
            <div *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid" class="error">
              *PhoneNumber is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="department">Department</label>
            <input id="department" type="text" formControlName="department" class="form-control" />
            <div *ngIf="f['department'].touched && f['department'].invalid" class="error">
              *Department is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="managerId">Manager ID</label>
            <input id="managerId" type="text" formControlName="managerId" class="form-control" readonly />
            <div *ngIf="f['managerId'].touched && f['managerId'].invalid" class="error">
              *ManagerId is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="address">Address</label>
            <input id="address" formControlName="address" class="form-control">
            <div *ngIf="f['address'].touched && f['address'].invalid" class="error">
              *Address is required
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Submit" icon="pi pi-check" (click)="onSubmit()"></button>
    <button pButton pRipple label="Cancel" icon="pi pi-times" (click)="displayBasic=false"></button>
  </ng-template>
</p-dialog>




<p-table [value]="getManagerWiseEmpList" expandableRows="true" rowExpandMode="single" styleClass="p-datatable-gridlines"
  [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>PhoneNumber</th>
      <th>DateOfBirth</th>
      <th>Address</th>
      <th>Role</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-i="rowIndex">
    <tr>
      <td>{{i + 1}}</td>
      <td>{{product.firstName}}</td>
      <td>{{product.lastName}}</td>
      <td>{{product.email}}</td>
      <td>{{product.phoneNumber}}</td>
      <td>{{product.dob}}</td>
      <td>{{product.address}}</td>
      <td>{{product.role}}</td>
    </tr>
  </ng-template>
</p-table>
