.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem; /* Adjust as needed */
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

:host ::ng-deep .p-password input {
  width: 21rem
}