
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  :host ::ng-deep .custom-dropdown .p-dropdown {
    width: 230px !important;
    background-color: #f8f9fa;
    border-radius: 5px;
    height:40px
  }
  .Note{
    font-size:12px
  }

  /* :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding:0px;
  } */
