<div class="button-container">
  <button pButton pRipple type="button" label="New Task" icon="pi pi-plus" class="p-button-secondary"
    (click)="showBasicDialog()"></button>
</div>

<p-dialog header="Create Task" [(visible)]="displayBasic" [style]="{width: '60vw'}" [baseZIndex]="10000">
  <form [formGroup]="CreateTaskForm" (ngSubmit)="submitForm(CreateTaskForm)">
    <h2 class="text-center">Create Task</h2>
    <div class="form-container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" id="title" class="form-control" placeholder="Enter Title"
                  required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" formControlName="description" class="form-control"
                  placeholder="Enter Description" rows="4" required></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group ">
                  <label for="description">AssignedTo</label><br>
                  <p-dropdown [options]="allEmployeeData" [(ngModel)]="selectedEmployee" optionLabel="email" [filter]="true" filterBy="email"
                      [showClear]="true" placeholder="Select an Employee" formControlName="assignedTo">
                      <ng-template pTemplate="selectedItem" let-selectedEmployee>
                        <div class="country-item country-item-value" *ngIf="selectedEmployee">
                          <div>{{ selectedEmployee.email }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-employee pTemplate="item">
                        <div class="country-item">
                          <div>{{ employee.email }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="createdBy">Created By</label>
                <input type="email" formControlName="createdBy" id="createdBy" class="form-control"
                  placeholder="Creater Email"  readonly>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="managerId">Manager ID</label>
                <input type="number" formControlName="managerId" id="managerId" class="form-control"
                  placeholder="Enter Manager ID" required readonly>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Submit" icon="pi pi-check" (click)="submitForm(CreateTaskForm)"></button>
    <button pButton pRipple label="Cancel" icon="pi pi-times" (click)="displayBasic=false"></button>
  </ng-template>
</p-dialog>

<p-table [value]="Alltasks" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Assigned To</th>
      <th>Created By</th>
      <th>Creation Date</th>
      <th>Completion Date</th>
      <th>Is Completed</th>
      <th>Manager ID</th>
      <th>Task ID</th>
      <th>Uploaded File</th>
      <th>Submit Task</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task let-i="rowIndex">
    <tr>
      <td>{{i + 1}}</td>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.assignedTo}}</td>
      <td>{{task.createdBy}}</td>
      <td>{{task.creationDate}}</td>
      <td>{{task.complitionDate}}</td>
      <td>{{task.isCompleted}}</td>
      <td>{{task.managerId}}</td>
      <td>{{task.taskId}}</td>
      <td>{{task.uplodedfile}}</td>
    </tr>
  </ng-template>
</p-table>
