/* Button container */
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem; /* Adjust as needed */
}

/* Apply styles to PrimeNG buttons */
:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}

/* Dropdown customization */
.custom-dropdown {
  width: 100% !important; /* Adjust width as needed */
}



/* Dialog styling */
.p-dialog .form-container {
  padding: 20px;
}

.p-dialog .form-group {
  margin-bottom: 15px;
}

.p-dialog .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.p-dialog .form-group input,
.p-dialog .form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.p-dialog .form-group input[type="checkbox"] {
  width: auto;
}

.p-dialog .form-group input[type="date"],
.p-dialog .form-group input[type="number"] {
  padding: 8px;
}

/* Table styling */
.p-table th,
.p-table td {
  text-align: center;
}

.p-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.p-table td {
  padding: 10px;
}


.p-datatable-gridlines .p-datatable-body {
  max-height: 400px; /* Adjust the height as needed */
  overflow: auto;
}


.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding:0px;
}